#main{ width: 100%;
    height: 750px;
    font-style: initial; 
    font-family: Cambria, 
    Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color: whitesmoke; 
    font-size: 44px;
    }
#top{width: 100%;
    background-color: #EF0107; 
    height: 150px;
}
#buttom{ 
    width: 100%;
    height: 600px;
    background-color: white;
    background-position-y: -170px;
}