* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
  background-color: #FFF;
}

nav .nav-links{
  text-align: right;
}

nav .nav-links ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}

nav .nav-links ul li a{
  text-decoration: none;
  color: black;
  font-size: 10px;
  transition: 0.5s;
}

nav .nav-links ul li a:hover{
  font-size: 15px;
  background: none;
}

.img img{
  height: 30px;
  width: 40px;
}
  
nav .fa{
  display: none;
}

@media(max-width: 720px){
  .row{
      flex-direction: column;
  }

  nav .nav-links ul li{
      display: block;
      padding: 10px 20px;
      margin-right: 20px;
  }

  .nav-links{
      position: fixed;
      background-color: white;
      top: 0;
      height: 100vh;
      width: 200px;
      right: -200px;
      text-align: center;
      z-index: 99;
      transition: 1s;
  }

  nav .fa{
      display: block;
      color: #ED1A3B;
      margin: 5px;
      padding: 10px;
      cursor: pointer;
  }
}


.features{
  width: 80%;
  padding-top: 80px;
  margin: auto;
  text-align: center; 
}

.features h1{
    font-size: 32px;
}

.row{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  flex-wrap: wrap;
}

.features-col img{
  width: 180px;
}

.features-col{
  flex-basis: 29%;
  padding: 20px 12px;
  margin-bottom: 5%;
  box-sizing: border-box;
}

/* footer */

footer{
  background-color: #ED1A3B;
  text-align: center;
  padding: 15px 0;
  color: white;
}

footer h3{
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 700;
}

.icons{
  padding: 20px 0;
  color: white;
  cursor: pointer;
}

.icons .fa{
  padding: 0 12px;
}


  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
}

/* images width */

.mySlides img{
    width: 100%;
  }
   
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -70px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    position: absolute;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */


  .thumbnail{
    width: 80%;
   margin: auto;
    padding-top: 40px;
  }
  .column img{
    width: 100%;
    border-radius: 10px;
    height: 150px;
  }

  /* .thumb{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    justify-content: space-between;
    gap: 1rem;
  } */

  /* media query to put 4th pic in center */

  /* @media(min-width: 603px) and (max-width:808px){
    .thumb .col{
        grid-column: 2/3;
        
      }
  } */
  
  .thumb{
    display: flex;
    overflow: auto;
    width: 100%;
    flex-flow:row nowrap;
    scroll-snap-type: x mandatory;
  }

  .thumb::-webkit-scrollbar{
    display: none;
  }

  .column{
    scroll-snap-align: start;
    flex: none;
    padding: 0 30px;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

