a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: solid;
    padding: 0px;
}
a:hover{
    background-color:#01066C; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 19px; 
    text-decoration: none; 
    padding: 0px;
    font-stretch: semi-expanded;
}
